/* use state css */
.increaments{
    margin: 13px;
    padding: 11px;
   float: left;
    width: 90px;
    font-size: 20px;
    height: 29px;
    background-color: #264FAD;
    color: #ade212;
    line-height: 30px;
    border: 1px solid;
}
.decreaments{
    margin-top: -4px;
    padding: 11px;
    float: left;
    width: 90px;
    font-size: 20px;
    height: 29px;
    background-color: #264FAD;
    color: #ade212;
    line-height: 30px;
    border: 1px solid;
}
.heading{
    color: black;
   text-align: center;
  
}
.score{
    color: black;
   margin-right: 20px;
    font-size: 20px;
}
.score-group{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.increamets{ margin: 13px;
    padding: 11px;
   float: left;
    width: 90px;
    font-size: 20px;
    height: 29px;
    background-color: #264FAD;
    color: #ade212;
    line-height: 30px;
    border: 1px solid;}